# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
venv/
env/
ENV/
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
*.swp
